<div style="max-width: 95%;">
<form action="https://getform.io/f/66c7556b-30ef-477f-8bac-d22cb3f3f306" 
      method="POST"
      accept-charset="UTF-8">
    <label for="fullname">Your Name:</label><br>
    <input type="text" name="fullname" Name style="max-width: 100%;" cols="60"><br>
    <label for="email">Email Address (optional):</label><br>
    <input type="email" name="email" style="max-width: 100%;" cols="60"><br>
    <label for="message">Message:</label><br>
    <textarea type="text" name="message" rows="4" cols="130" style="max-width: 100%; box-sizing: border-box;" >
    </textarea>
    <button type="submit">Send</button> 
</form>
</div>