/*************************************************
 *  Documentation layout
 **************************************************/
/* Breadcrumb */
li.breadcrumb-item {
	font-size: 1rem;
}

/* List-page spacing of folder-list */
div.directory-style {
  line-height: 0.5;
}

/* List-page Summary title spacing */
div.summary-style p {
  font-size: 1.2rem;
  line-height: 0.0;
  padding-top: 2rem;
}

/* sets font for all text. Padding has no effect on space between title and body */
/*
body {
  font-size: 1rem;
  padding-top: 0px;
}
*/

/* Hide stuff in printouts. */

@media print {
  .docs-sidebar, .no-print, .no-print *{
    display: none;
  }
}

/* Docs TOC. */

#TableOfContents li a,
.toc-top li a {
  font-size: 1.0rem;
}
