{{ $current_page := . }}
{{ $print_img := printf "%s/%s" "img/" "click-here-to-print.jpg" | relURL }}
{{/* Check whether to show breadcrumb navigation. */}}
{{ $breadcrumb_page_types := site.Params.breadcrumb.page_types | default dict }}
{{ $show_breadcrumb := index $breadcrumb_page_types .Type | default false }}
<head>
{{ partial "pagedjs-header.html" . }}
</head>
{{ partial "print-button.html" }}
<link href="/static/css/print.css" media="print" rel="stylesheet" type="text/css" >
<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">

      <article class="article">

        <div class="no-print">
          {{ if $show_breadcrumb }}
            {{ partial "breadcrumb" $current_page }}
          {{ end }}
		</div>
		 {{ partial "sibling-pages.html" . }}
		 
          <h1>{{ .Title }}</h1>

		  <a href="javascript:window.print()"><img src="{{$print_img}}" alt="print this page" class="no-print" ></a>
	{{/* Show ToC by default. */}}
    {{ if ne .Params.toc false }}
      <ul class="nav toc-top">
        <li>{{ i18n "on_this_page" }}</li>
      </ul>
	  <div class="font-weight-bold">
      {{ .TableOfContents }}
	  </div>
    {{ end }}
          <div class="article-style">
            {{ .Content }}
          </div>

          {{ partial "tags.html" . }}

          {{/* Show next/previous pages by default. */}}
          {{ if ne site.Params.book_section_pager false }}
          <div class="article-widget">
            {{ partial "section_pager" . }}
          </div>
          {{ end }}
        </div>

        <div class="body-footer">
          <p>{{ i18n "last_updated" }} {{ $.Lastmod.Format site.Params.date_format }}</p>

          {{ partial "page_edit" . }}

          {{ partial "comments" . }}

          {{ partial "page_related" . }}
        </div>

      </article>

      {{ partial "site_footer" . }}

    </main>
  </div>
</div>
